html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

@font-face {
  font-family: "bello";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Bello-SmCp.eot?#iefix") format("embedded-opentype"), url("../fonts/Bello-SmCp.woff2") format("woff2"), url("../fonts/Bello-SmCp.woff") format("woff"), url("../fonts/Bello-SmCp.ttf") format("truetype"), url("../fonts/Bello-SmCp.svg#bello") format("svg"); }
body {
  margin: 0px; }

h1 {
  font-family: 'bello';
  font-size: 4.7125em;
  display: inline-block;
  line-height: 62px;
  transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  color: #000;
  font-weight: 300; }

.white {
  color: white; }

.container {
  width: 90%;
  margin: 0px auto; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

p {
  font-family: ''; }

.statement-container {
  margin-top: 100px; }

.intro {
  z-index: 20;
  width: 34%;
  text-align: justify;
  font-size: 14px;
  float: right;
  margin-top: -116px;
  margin-bottom: 60px; }

.render-btn {
  min-width: 261px;
  color: #F7C723;
  background-color: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 13px 26px;
  text-align: center;
  font-size: 0.9em;
  line-height: normal;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  position: relative;
  cursor: pointer; }
  .render-btn:hover {
    color: white; }

.cross-box {
  height: 100px;
  background: white; }
  .cross-box .angle {
    margin-top: -50px;
    width: calc(100% + 500px);
    height: 440px;
    -moz-transform: skew(-86deg) scale(1);
    -ms-transform: skew(-86deg) scale(1);
    -webkit-transform: skew(-86deg) scale(1);
    transform: skew(-86deg) scale(1);
    background: #F7C723; }

#shower {
  background: #97BDD2;
  padding-top: 30px; }

.navigation .navigation-menu-button {
  display: block;
  float: right;
  margin: 0;
  padding-top: 0.5em; }
  @media screen and (min-width: 53.75em) {
    .navigation .navigation-menu-button {
      display: none; } }
.navigation .navigation-wrapper {
  position: relative; }
  .navigation .navigation-wrapper::after {
    clear: both;
    content: "";
    display: table; }
.navigation .logo {
  float: left; }
  .navigation .logo img {
    max-height: 2em;
    padding-right: 1em; }
.navigation nav {
  float: none; }
  @media screen and (min-width: 53.75em) {
    .navigation nav {
      float: right;
      line-height: 1.5em;
      padding-top: 0.3em; } }
.navigation ul.navigation-menu {
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%; }
  @media screen and (min-width: 53.75em) {
    .navigation ul.navigation-menu {
      display: block;
      margin: 0;
      padding: 0; } }
  .navigation ul.navigation-menu.show {
    display: block; }
.navigation ul li.nav-link {
  display: block;
  text-align: right;
  width: 100%; }
  @media screen and (min-width: 53.75em) {
    .navigation ul li.nav-link {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto; } }
.navigation li.nav-link a {
  display: inline-block;
  font-size: 0.575em;
  color: #000000;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative; }
  @media screen and (min-width: 53.75em) {
    .navigation li.nav-link a {
      padding-right: 1em; } }
  .navigation li.nav-link a:hover {
    color: #383333; }
  .navigation li.nav-link a.open-contact {
    border: 1.5px solid #000;
    padding: 4px 12px;
    -moz-border-radius: 4px / 4px;
    -webkit-border-radius: 4px 4px;
    border-radius: 4px / 4px;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; }
.navigation li.contact a:hover {
  background-color: #000;
  color: #ECC644; }

#website-design {
  background: url("../images/website-design.jpg");
  background-size: cover; }

/*# sourceMappingURL=screen.css.map */
